* {
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    user-select: none;
    
}
html {
    scroll-behavior: smooth;
}

        .grid-container {
            display: grid;
            grid-template-columns: 200px 1fr 1fr;
            grid-template-rows: 100px auto 100px;
            grid-template-areas:
                "header header header header"
                "sidebar content content chatbox"
                "sidebar content content youtube"
                "sidebar content content youtube"
                "footer footer footer footer ";
            gap: 10px;
            height: 100vh;
            display:fixed;
            
        }

        .header {
            grid-area: header;
            border: 2px solid #9E9E9E;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 2.5rem;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            background: linear-gradient(to right, #fbc2eb, #a6c1ee);

        }
        .chatbox {
            grid-area: chatbox;
            border: 2px solid black;
            height: 108px;
            width: 37vw;
            border-radius: 2rem;
            display: fixed;
            box-sizing: border-box;
            background: linear-gradient(to right, #e0c3fc, #8ec5fc);


        }
        .youtube {
            display: grid;
            grid-area: youtube;
            background-color: white;
            width: 37vw;
            height: 400px;
            border: 2px solid rgba(0, 0, 0, 0.4);
            border-radius: 2rem;
            background: linear-gradient(to right, #ffecd2, #fcb69f);
        }

        .sidebar {
            grid-area: sidebar;
            background-color: #fff;
            background: linear-gradient(to right, #e0c3fc, #8ec5fc);
            padding: 15px;
            border: 2px solid #9E9E9E;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)inset;
            border-radius: 1.5rem;
            overflow-y: scroll;
            scrollbar-width: none;
        }
        

        .content {
            grid-area: content;
            background-color: #fff;
            padding: 20px;
            border: 2px solid #9E9E9E;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)inset;
            border-radius: 1.5rem;
            width: 45vw;
        }

        .footer {
            grid-area: footer;
            background-color:white;
            background: linear-gradient(to right, #a1c4fd, #c2e9fb);
            color: black;
            text-align: center;
            padding: 10px;
            border: 2px solid #9E9E9E;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)inset;
            border-radius: 1.5rem;

           

        }
        .footer .social a {
            text-decoration: none;
            font-size: 25px;
            color:black;
            display: inline-block;
            text-align: center;
            margin:0 10px;
            transition: 0.3s ease-in-out;
        }
        .footer .social {
            text-align: center;
            color:white;
        }
        .footer .social a:hover {
            transform: scale(1.2)translateY(-10px);
            background-color: transparent;
            color:black;
            
        }
        /* menu */
        .menu-item {
            justify-content: center;
            
        }
        .menu li {
            padding: 10px 10px;
            
        }
        .menu .menu-item a {
            background-color: #fff;
            color: black;
            padding: 2px;
            border: 2px solid black;
            border-radius: 1rem;
            
            
        }
        .menu-item:hover {
            transform: translateY(-3px);    
            transition: 0.2s ease-in-out;
            
           
        }
        
        /* content */
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            background:linear-gradient(to right, #00C9FF, #92FE9D);
            
        }
        .content-card {
            width: 300px;
            height: 350px;
            background-color: rgb(255, 254, 254);
            box-sizing: border-box;
            padding: 20px 30px;
            flex-shrink: 0;
            border-radius: 14px;
            text-align: center;
            scroll-snap-align: center;
            background: linear-gradient(to right, #92FE9D,#00C9FF);
           
            


        }
        .content-card p {
            
            position: relative;
            top:15px;
            font-size: 1.3rem;
        }
        .content-wrapper {
            width: 300px;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            display: flex;
            gap: 20px;
            scrollbar-width: none;
            border-radius:20px;
            border: 2px solid black;
            
            

           
        }
        /* animation */
        body {
            margin: 0;
            overflow: hidden;
            
        }
        
        .snowfall {
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .snowflake {
            position: absolute;
            top: -50px;
            color: white;
            font-size: 30px;
            animation: fall linear infinite;
            opacity: 0.5;
        }
        
        @keyframes fall {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(100vh);
            }
        }
        /* chatbox */
        #searchContainer {
            text-align: center;
        }
        #searchInput {
            width: 300px;
            padding: 10px;
            border:none;
            border-radius: 2rem;
            color: #000;
            font-size: 16px;
            outline: none;
            box-shadow: 0 0 20px rgba(119, 126, 121, 0.755);
        }
        #searchInput:hover {
            box-shadow: 0 0 20px red;
            transition: all 0.5s ease-in;
        }
        #searchInput:focus {
            border: none;
            box-shadow: 0 0 20px rgba(49, 241, 97, 0.915);
            transition: all 1s ease-in-out;

        }
        #searchButton {
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 1rem;
            border-color: violet;
            
        }

        #searchButton:hover {
            background-color:  #E83E8C;
            cursor: pointer;
            transition: 0.3s ease-in;
            color:white;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        }
        /* youtube */
        .video-container {
            display: grid;
            place-items: center;
        }
        .video-item {
            display: grid;
            width: 410px;
            max-height: 252px;
            overflow-y: scroll;
            overflow-x: hidden;
            scroll-snap-type: x mandatory;
            scrollbar-width: none;

        }
        .video-item iframe {
            width: 408px;
            height: 252px;
            border-radius: 1rem;
            gap: 10px;
        }
        .write-text {
            color: #000000;
        }
        
        
        
